%body
  .wrapper
    .content
      = render 'shared/side_bar'
      .content__main
        .main__header
          .main__header__left-box
            %p.main__header__left-box--group-name 
              = @group.name
            %ul.main__header__left-box--group-member 
              Member: 
              - @group.users.each do |user|
                = user.name
          .main__header--edit-btn 
            .main__header--edit-btn--text 
              Edit
          
        .messages
          = render partial: 'message', collection: @messages
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'